* {
  scroll-behavior: smooth;
}
body {
  background-color: #1f1b2d;
}
/* Global style */
.bodyColor {
  background-color: #1f1b2d;
}
.pointer {
  cursor: pointer;
}
a {
  text-decoration: none;
}
p {
  margin-bottom: 0px;
}
li {
  list-style: none;
}
ul {
  padding-left: 0;
}
.radiusB {
  border-radius: 20px;
}
.Pcolor {
  color: #b1afb6;
}
.dropdown-item:active {
  background-color: transparent;
}

/* h5 {
  margin-bottom: 0%;
} */
.textOrange {
  color: #fd5631;
}
.textWhite {
  color: white;
}
.fontBold {
  font-weight: bold;
}
.skyblue {
  background: #3c76f2;
}
.lightgreen {
  background-color: #07c98b;
}
.buttonBackGround {
  background-color: #fd5631;
}
/* End Global style */
/* scroll bar design */
::-webkit-scrollbar {
  width: 7px;
  background-color: #1f1b2d;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fd5631;
  border-radius: 5px;
}
/* end scroll bar design */
/* Nav design */
.navBackgroundC {
  background-color: rgba(31, 27, 45, 0.9);
}
.navLogoImg {
  width: 30px;
  margin-right: 5px;
}
.navLogoPaddingL {
  font-size: 30px;
}
.navMenuButton {
  width: 30px;
  object-fit: contain;
}

.navButton {
  background-color: #fd5631;
  padding: 8px 15px;
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
}
.buttonD1 {
  background-color: #fd5631;
  padding: 10px 15px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}
.navPaddingL {
  padding-left: 15px;
}
.navIcon {
  padding-right: 3px;
  width: 25px;
  object-fit: contain;
}
.border-left {
  border-left: 1px solid gray;
}
.hideB {
  border: none;
  border-radius: 0%;
}
.navBorderL {
  border-left: 2px solid gray;
  padding-left: 10px;
  padding-bottom: 10px;
}
.navBorderC {
  border: 1px solid gray;
  border-radius: 8px;
}
/* End Nav design */

/* Hero Design */
.heroPleft {
}
.hero-title {
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
.hero-padding-top {
  margin-top: 130px;
}
.hero-title-h1 {
  font-size: 60px;
  font-weight: bold;
}
.heroTitleResponsinve {
  font-size: 30px;
  font-weight: bold;
}
/* End Hero Design */

/* Filter Search design */
.searchButtonDesign1 {
  padding: 8px 15px;
  background-color: white;
  border-radius: 8px;
  margin-right: 5px;
}
.backgroundColor {
  background-color: rgba(255, 255, 255, 0.1);
}
.searchButtonDesign2 {
  padding: 8px 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
.iconSize {
  width: 20px;
}
.iconsPL {
  padding-right: 5px;
}
.fontSize {
  font-size: 18px;
  color: white;
}
.borderOut {
  outline: none;
}
.borderL {
  border-left: 1px solid gray;
}
.outline {
  outline: none;
}
.searchContainer {
  background-color: rgba(255, 255, 255, 0.1);
}
.searchButton {
  background-color: #fd5631;
  text-align: center;
  border-radius: 5px;
}
/* End Filter Search design */

/* Top Offers design */
.width100 {
  width: 100%;
}
.offersBorderB {
  border-bottom: 1px solid gray;
}
.offersBorderT {
  border-top: 1px solid gray;
}

.offerImgPL {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.offerImgP {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.hei {
  height: 100%;
}
.backgroundImg {
  background-image: url("../img/wallpaperflare.com_wallpaper\ \(6\).jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.offerIconS {
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}
.offerBorderRadius {
  border-radius: 8px;
}
.offerGridD {
  grid-template-columns: 1fr 1fr 1fr;
}
.offerContainerGrid {
  /* grid-template-columns: 1fr 1fr; */
  gap: 10px;
}
.offerRow {
}
.offerOverlay {
  position: absolute;
  left: 15px;
  top: 15px;
}
.overlayPaddiing {
  padding: 6px 10px;
}
.offerPaddingL {
  padding-right: 0;
}
.offerleftContent {
  width: 40%;
}
.offerRightContent {
  width: 60%;
}
.offerHeightValue {
  display: grid;
  grid-template-rows: 49% 50%;
}
.flexSolution {
  display: flex;
  align-items: bet;
}
.rowGap {
  row-gap: 13px;
}
.responsiveP {
  padding-bottom: 45px;
}
.topOfferTextSize {
  font-size: 12px;
}
.marginT {
  margin-top: 40px;
}
/* End Top Offers design */

/* logo section design */
.logosectionSize {
  width: 40px;
}
/* end logo section design */

/* apart section design */
.apartIconP {
  width: 30px;
}
.dashedBorder {
  border-left: 2px white dashed;
}
.heightWidth {
  height: 100%;
  width: 100%;
}
.imgsize {
  width: 200px;
}
/* end apart section design */

/* shop section design */
.shopImgSize {
  width: 80%;
  margin-bottom: 10px;
}

.containerR {
  border-radius: 10px;
}
.shopIconS {
  width: 20px;
  height: 20px;
}

/* end shop section design */

/* footer section design */
.footerBackgroundC {
  background-color: #282435;
}
.footerIconS {
  width: 15px;
}
.footerBorderB {
  border-bottom: 1px solid gray;
}
.borderInput {
  border: 1px solid gray;
}
.removeBorder {
  outline: none;
  border: 0;
  box-shadow: none;
}
.footerISize {
  width: 20px;
  margin-right: 5px;
}
.footersearchS1 {
  width: 95%;
}
.footersearchS2 {
  width: 5%;
}
.footersearchI {
  width: 20px;
}
/* footer section design */

/* Media Query */

/* search section */

/* shop mediq query */
@media screen and (min-width: 576px) {
  .shopImgResponsive {
    width: 160px;
  }
}
/* @media screen and (min-width: 922px) {
  .shopImgResponsive {
    width: 80%;
  }
} */
@media screen and (max-width: 768px) {
  .shopLeftC {
    width: 45%;
  }
  .shopRightC {
    width: 55%;
  }
}
/* apart media query */
@media only screen and (max-width: 768px) {
  .maxWidth {
    max-width: 550px;
  }
}
/* end apart media query */

@media only screen and (max-width: 576px) {
  .borderLHide3 {
    border: none;
  }
  .offerImgPL {
    border-top-right-radius: 8px;
  }
  .marginT {
    margin-top: 0%;
  }
}
@media only screen and (max-width: 768px) {
  .borderLHide2 {
    border: none;
  }
}
@media only screen and (max-width: 992px) {
  .borderLHide {
    border: none;
  }
}
@media only screen and (max-width: 992px) {
  .borderBottom {
    border-bottom: 1px solid gray;
  }
}
/* end search section */

/* top offers section */
@media screen and (max-width: 576px) {
  .offerleftContent {
    width: 100%;
  }
  .offerRightContent {
    width: 100%;
  }
}
/* end top offers section */
@media only screen and (min-width: 992px) {
  .showherotext {
    opacity: 0;
  }
}
@media screen and (max-width: 992px) {
  .marginlg {
    margin-top: 100px;
  }
}
/* Media Query */
