* {
}
body {
  background-color: #1f1b2d;
}
/* Global style */
.pointer {
  cursor: pointer;
}
a {
  text-decoration: none;
}
.textOrange {
  color: #fd5631;
}
.textWhite {
  color: white;
}
/* End Global style */

/* Nav design */
.navBackgroundC {
  background-color: rgba(31, 27, 45, 0.9);
}
.navLogoImg {
  width: 40px;
  margin-right: 5px;
}
.navLogoPaddingL {
  font-size: 30px;
}
.navMenuButton {
  width: 30px;
  object-fit: contain;
}
.fontBold {
  font-weight: bold;
}
.navButton {
  background-color: #fd5631;
  padding: 8px 15px;
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
}
.buttonD1 {
  background-color: #fd5631;
  padding: 10px 15px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}
.navPaddingL {
  padding-left: 15px;
}
.navIcon {
  padding-right: 3px;
  width: 25px;
  object-fit: contain;
}
.border-left {
  border-left: 1px solid gray;
}

/* End Nav design */

/* Hero Design */
.heroPleft {
}
.hero-title {
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
.hero-padding-top {
  margin-top: 130px;
}
.hero-title-h1 {
  font-size: 60px;
  font-weight: bold;
}
.heroTitleResponsinve {
  font-size: 30px;
  font-weight: bold;
}
/* End Hero Design */

/* Filter Search design */
.searchButtonDesign1 {
  padding: 8px 15px;
  background-color: white;
  border-radius: 8px;
}
.searchButtonDesign2 {
  padding: 8px 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  margin-left: 12px;
}
.iconSize {
  width: 20px;
  object-fit: contain;
}
.iconsPL {
  padding-right: 5px;
}
.fontSize {
  font-size: 18px;
}
.borderL {
  border-left: 1px solid gray;
}
.outline {
  outline: none;
}
.searchContainer {
  background-color: rgba(255, 255, 255, 0.1);
}
.searchButton {
  background-color: #fd5631;
  text-align: center;
  border-radius: 5px;
}
/* End Filter Search design */

/* Media Query */

/* search section */
@media only screen and (max-width: 576px) {
  .borderLHide3 {
    border: none;
  }
}
@media only screen and (max-width: 768px) {
  .borderLHide2 {
    border: none;
  }
}
@media only screen and (max-width: 992px) {
  .borderLHide {
    border: none;
  }
}
@media only screen and (max-width: 992px) {
  .borderBottom {
    border-bottom: 1px solid gray;
  }
}
/* end search section */

@media only screen and (min-width: 992px) {
  .showherotext {
    opacity: 0;
  }
}
@media screen and (max-width: 992px) {
  .marginlg {
    margin-top: 100px;
  }
}
/* Media Query */
